
html,body{
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
body{
    display: flex;
    flex-direction: column; 
    background-color: #eee;
    justify-content: center;
    
    height:150vh;
}

.header-container{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5vh;
}
    .header{
        font-size: 24px;
        color: #f9faf8;
        margin: 0px 16px 0px 16px;
    }
    .header-links{
        display: flex;
        justify-content: space-around;
    }
        .header-link{
            padding: 0px 8px 0px 8px;
            color: #E5E7EB;
        }


/* LANDING SECTION --------------------*/
.landing-container{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex:1;
    padding: 5vh 10% 5vh 10%;
}
    .landing-content{
        width: 35vw;
        display: flex;
        flex-direction: column;
        
    }

        .landing-title{
            font-size: 48px;
            color: #f9faf8;
        }

        .landing-text{
            
            margin: 0 35% 0 0;
            font-size: 18px;
            color: #E5E7EB;
        }
        .landing-button{
            width: 100px;
            margin-top: 8px;
            background-color: #3882f6;
            border: solid 2px #f9faf8;
            border: none;
            font-weight: bold;
            color: #f9faf8;
            padding: 4px 16px 4px 16px;
            border-radius: 5px;
        }
    .landing-img{
        
        width: 25%;
        flex-shrink: 0;
    }
/* ------------------------------*/

/* BOXES SECTION ------------------------*/

.boxes-container{
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    padding: 5vh 10% 5vh 10%;
    
}
    .boxes-title{
        color: #1F2937;
        display: flex;
        justify-content: center;
        font-size: 36px;
        padding-bottom: 16px;
        
    }

    .boxes{
       
        display: flex;
        justify-content: space-around;
        
    }
        .box-item{
        margin: 0px 1vw 0px 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        }
            .box-img{
                width:10vw;
                height:15vh;
                border: 5px solid #3882f6;
                border-radius: 20px;
            }
            .box-text{
                width: 10vw;
                margin-top: 8px;
            }

/* ---------------------------------------*/

/*QUOTE SECTION ----------------*/
.quote-container{
    background-color:#E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    padding: 0 25% 0 25%;
}
        .quote-text{
            font-size: 36px;
            font-style: italic;
            font-weight: lighter;
            
        }
        .quote-name{
            color: rgb(83, 82, 82);
            align-self: flex-end;
        }
   
/*------------------------------*/

/*CALL SECTION-------------------------*/
.call-container{
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}
    .call-box{
        background-color: #3882f6;
        display: flex;
        border-radius: 5px;
        align-items: center;
        padding: 20px 40px;
        justify-content: space-between;
        
    }
        .call-text{
            color: #f9faf8;
            margin: 16px 16px 16px 16px;
            display: flex;
            flex-direction: column;
            
        }
            .call-title{
                font-size: 24px;
            }

            .call-subtitle{

            }

        .call-button{
            margin: 0px 0px 0px 15vh;
            background-color: #3882f6;
            border: solid 2px #f9faf8;
            color: #f9faf8;
            padding: 4px 16px 4px 16px;
            border-radius: 5px;
            font-weight: bold;
        }
/*-------------------------------------*/

/*FOOTER SECTION-------------*/
.footer-container{
    background-color:#1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:0.25;
}
/*---------------------------*/