
html,body{
    min-height: 100%;
}
body{
    display: flex;
    flex-direction: column; 
    background-color: #eee;
    justify-content: center;
    
    height:150vh;
}

.header-container{
    background-color: palegreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
}
/* LANDING SECTION --------------------*/
.landing-container{
    background-color: paleturquoise;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex:1;
    padding: 5vh 10% 5vh 10%;
}
    .landing-content{
        width: 35vw;
        display: flex;
        flex-direction: column;
        
    }

        .landing-title{
            font-size: 150%;
        }

        .landing-text{
            
            margin: 0 35% 0 0;
        }
        .landing-button{
            width: 100px;
            margin-top: 8px;
        }
    .landing-img{
        
        width: 25%;
        flex-shrink: 0;
    }
/* ------------------------------*/

/* BOXES SECTION ------------------------*/

.boxes-container{
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    padding: 5vh 10% 5vh 10%;
    
}
    .boxes-title{
        display: flex;
        justify-content: center;
        font-size: 150%;
        padding-bottom: 16px;
        
    }

    .boxes{
        background-color: rgb(28, 105, 172);
        display: flex;
        justify-content: space-between;
        
    }
        .box-item{
        
        border: 5px solid red;
        border-radius: 20px;
        margin: 0px 1vw 0px 1vw;
        
        
        }
            .box-img{
                width:30%;
            }
            .box-text{
                width: 10vw;
            }

/* ---------------------------------------*/

/*QUOTE SECTION ----------------*/
.quote-container{
    background-color: rgb(185, 152, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    padding: 0 25% 0 25%;
}
        .quote-text{
            font-size: 125%;
        }
        .quote-name{
            color: rgb(83, 82, 82);
            align-self: flex-end;
        }
   
/*------------------------------*/

/*CALL SECTION-------------------------*/
.call-container{
    background-color: rgb(67, 100, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}
    .call-box{
        background-color: rgb(214, 139, 214);
        display: flex;
        border-radius: 15px;
        align-items: center;
        padding: 20px 40px;
        justify-content: space-between;
        
    }
        .call-text{
            display: flex;
            flex-direction: column;
            
        }
            .call-title{
                font-size: 150%;
            }

            .call-subtitle{

            }

        .call-button{
            margin: 0px 0px 0px 15vh;
        }
/*-------------------------------------*/

/*FOOTER SECTION-------------*/
.footer-container{
    background-color: rgb(235, 95, 169);
    display: flex;
    justify-content: center;
    align-items: center;
    flex:0.25;
}
/*---------------------------*/